
table {
  /* background-color: red; */
  border-collapse: collapse;

}


th, tr {
  text-align: left;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 9px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 5px;
}

.pagination-wrap {
  box-sizing: border-box;
  float: right;
  height: 35px;
  display: flex;
  align-items: center;
  border: 1px solid #DCDCDC;
  border-radius: 3px;
  margin-top: 1rem;
}

.paginate-button {
  display: inline-block;
  padding: 0 5px;
  margin: 1rem 0;
  border: none;
  border-right: 1px solid #DCDCDC;
  height: 100%;
  background: none;
  font-size: 0.68727rem;
}

.paginate-number {
  display: inline-block;
  font-size: 0.88727rem;
  display: flex;
  align-items: center;
  margin-left: 4px;
  padding: 0 6px;
  padding-right: 8px;
  border-right: 1px solid #DCDCDC;
  height: 100%;
  color: #0091F7;
}
